* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Netflix Sans", sans-serif;
}
::-webkit-scrollbar{
  width: 7px;
  background-color: #111;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}
:root {
  --shadow-filter: #666666;
}

body{
  background: #111;
}
/****************Header**************/
.header{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5%;
  z-index: 99;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgb(0, 0, 0, .6) 100%);
  transition-timing-function: ease-in;
  transition: all 500ms;
}
.header.active{
  background: #111;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-left a{
  margin-left: 1rem;
  color: rgb(209, 209, 209);
  filter: drop-shadow(1px 1px 1px var(--shadow-filter));
}
.header-color{
  background: #111;
}
.header-left:first-child{
  margin-right: 2rem;
}
.header-left a:hover,
.header-left .active{
  color: white;
}
.header-left img{
  margin-right: 2.4rem;
  width: 10rem;
  filter: drop-shadow(1px 1px 1px var(--shadow-filter));
}
.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right span a{
  color: white;
}
.header-right span{
  cursor: pointer;
  margin-left: 1.2rem;
}
.header-right i{
  color: white;
}
.header-right span:last-child{
  margin-left: .3rem;
}
.avatar{
  border-radius: 3px;
  width: 2.4rem;
  filter: drop-shadow(1px 1px 1px var(--shadow-filter));
}
.header-right .notify-counter{
  width: fit-content;
  padding: .09rem .26rem;
  border-radius: 50%;
  background-color: rgb(223, 17, 17);
  color: white;
  margin-left: -.4rem;
  font-size: .7rem;
  position: absolute;
  top: 2rem;
}
#logo2hide{
  display: none;
}
/**********Banner**********/
#banner{
  color: white;
  object-fit: contain;
  height: 90vh;
  background-position: center center;
  background-size: cover;
}
#banner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0, .4) 0%, rgb(0, 0, 0, .3) 10%, rgb(0, 0, 0, .3) 90%, rgb(0, 0, 0, .4) 100%);
  z-index: 1;
}
#banner-content{
  margin-left: 70px;
  padding-top: 340px;
  height: 11rem;
  position: relative;
  z-index: 1;
}
#banner-title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: .3rem;
}
#banner-description{
  width: 45rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: .9rem;
  max-width: 20rem;
  height: 5.2rem;
}
#banner-buttons{
  display: flex;
  justify-content: start;
  align-items: center;
}
#banner-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: 700;
  border-radius: .2vw;
  padding: .85rem 1.7rem;
  margin: 1rem;
  background-color: rgba(105, 105, 105, 0.788);
}
#banner-button:hover{
  color: black;
  background-color: #e6e6e6;
  transition: all 300ms;
}

#banner-button i{
  font-size: 1.2rem;
  margin-right: .7rem;
}
/*#banner-fadebuttom{
  height: 90vh;
  background: linear-gradient(180deg,  rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}*/
#headrow{
  position: absolute;
  top: 75vh;
  padding-bottom: 5rem;
  z-index: 4;
}
.row {
  color: white;
}
.row-posters::-webkit-scrollbar{
  display: none;
}
.row-title{
  margin-left: 2.6rem;
}
.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: .4rem 2rem 2rem 2rem;
}
.row-PosterLarge{
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-left: 10px;
  border-radius: 5px;
  transition: transform 500ms;
}
.row-PosterLarge:hover{
  transform: scale(1.09);
  opacity: 1;
}
/***********footer icon************/
.footer{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.3rem;
    position: fixed;
    bottom: 0;
    background: #111;
    z-index: 99;
}
.bottom-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(209, 209, 209); 
    margin: .6rem 2.4rem;
    font-size: .8rem;
}
.footer .active{
    color: white;
}
.bottom-icon i{
    font-size: 1.6rem;
    margin-bottom: .5rem;
}
/*************Mobile view**************/
@media (max-width:990px) {
  html{
    font-size: 90%;
  }
}
@media (max-width:550px) {
  html{
    font-size: 80%;
  }
  .row-PosterLarge{
    width: 90%;
    max-height: 180px;
  }
  #hide{
    display: none;
  }
  #logo1hide{
    display: none;
  }
  #logo2hide{
    display: block;
    margin-right: 1.4rem; 
    width: 2.4rem;
  }
  .header-left a{ 
      margin-left: 2.5rem;
  }
  .footer{
      display: flex;
  }
}